
# GITIGNORE PARA PROYECTO PISA

#Carpetas 
manuals/
data/raw/

#Datos temporales
.ipynb_checkpoints/
__pycache__/


#Formatos 
*.xlsx
*.sav

# Archivos de configuración del sistema o del editor
.DS_Store
.vscode/