
# GITIGNORE PARA PROYECTO PISA

# Datos y manuales (Se comparten por Drive/OneDrive, NO por GitHub)
manuals/
data/raw/
data/intermediate/datos_anuales/
data/intermediate/datos_anuales_imputados/

#Datos temporales
.ipynb_checkpoints/
__pycache__/


#Formatos 
*.xlsx
*.sav
*.json

# Archivos de configuración del sistema o del editor
.DS_Store
.vscode/
Thumbs.db

# Entornos virtuales
.env
.venv/
env/
venv/
ENV/